.contacticon{
	height: 20px;
	margin: 5px;
  }

  .even-columns {
	display: flex;
	margin: 0 -15px;
}
.even-columns .even-columns-child {
	flex: 1;
	padding: 10px 15px 15px;
}
.even-columns.center {
  flex-wrap: wrap;
	text-align: center;
}
.interest-icon {
	width: 70px;
	height: 70px;
	margin: 5px auto;
	border: 1.5px solid #000;;
	border-radius: 50%;
}
.interest-icon + p {
	margin: 10px 0 -10px;
}
.interest-icon img {
	width: 40px;
	margin: 15px 0 0;
}
#githubticon{
	height: 30px;
}
#mediumicon{
	height: 25px;
}

small{
	float: right;
}

a{
	color: #1a1a1a;
	-webkit-transition: .25s all;
	transition: .25s all;
}

p em {
  font-size: 17px;
  color: #fff;
}

a:hover{
	color: #1eafed;
	font-size: 16px;
}

.form-row, .table, figure {
  margin: 0;
}

.sectionWrapper {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@keyframes fadeInNav {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: -25px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
#logo {
  color: #292929;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}
.right {
  float: right;
}

@keyframes fadeInCopyright {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLinks1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLinks2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLinks3 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
#services {
  width: 249px;
}
#work {
  width: 224px;
}
#contact {
  width: 208px;
}

.headerWrapper {
  text-align: center;
  position: relative;
  padding: 56px 71px 128px 108px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Services */
.services h6 {
  margin-bottom: 5px;
}
.services h2 {
  margin-bottom: 15px;
}
.services .description {
  margin-bottom: 60px;
  width: 685px;
  line-height: 40px;
}
.services .grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column-gap: 130px;
  grid-template-rows: 150px 150px;
  grid-row-gap: 30px;
}
.services .grid .card {
  width: 420px;
  padding: 43px 40px;
  background: linear-gradient(to bottom right, #313131, #0F0F0F);
  border-radius: 5px;
  display: block;
}
.services .grid .card h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.services .grid .card p {
  color: #C3C3C3;
  font-size: 22px;
  font-weight: normal;
}
/* Responsive */
@media (max-width: 1280px) {
  .services .grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 50px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
  }
}
@media (max-width: 1200px) {
  .services .sectionWrapper {
    padding-top: 185px;
    padding-bottom: 185px;
  }
  .services .grid {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
  }
  .services .grid .card {
    width: 420px;
    padding: 43px 40px;
    background: linear-gradient(to bottom right, #313131, #0F0F0F);
    border-radius: 5px;
  }
}
@media (max-width: 850px) {
  .services .sectionWrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .services .description {
    font-size: 22px;
    width: initial;
  }
  .services .square.blue {
    width: 75px;
    height: 75px;
  }
  .services .grid {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: initial;
    grid-row-gap: 25px;
  }
  .services .grid .card {
    width: 100%;
    padding: 31.5px 30px;
    background: linear-gradient(to bottom right, #313131, #0F0F0F);
    border-radius: 5px;
  }
  .services .grid .card h3 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .services .grid .card p {
    color: #C3C3C3;
    font-size: 20px;
    font-weight: normal;
  }
}
@media (max-width: 850px) and (min-width: 440px) {
  .headerWrapper {
    position: static;
    padding: 0;
  }
  .overlay a {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
    opacity: 0;
    transition: transform 0.2s ease;
    overflow: hidden;
  }
  .overlay p {
    margin-left: 40px;
  }
  #services {
    width: 134px;
  }
  #work {
    width: 150px;
  }
  #contact {
    width: 125px;
  }
  h6 {
    font-size: 22px;
  }
  .headerWrapper h1 {
    color: #272727;
    font-size: 56px;
    font-weight: 700;
  }
}
@media (max-width: 850px) and (min-width: 440px) and (max-width: 440px) {
  .background {
    max-height: 700px;
  }
  .headerWrapper {
    position: static;
    padding: 0;
  }
  .overlay a {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-left: 40px;
    margin-bottom: 10px;
    opacity: 0;
    transition: transform 0.2s ease;
    overflow: hidden;
  }
  .overlay p {
    margin-left: 40px;
    position: static;
    margin-top: 40px;
  }
  #services {
    width: 134px;
  }
  #work {
    width: 150px;
  }
  #contact {
    width: 125px;
  }
  .headerWrapper h6 {
    color: #D6D6D6;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .headerWrapper h1 {
    color: #272727;
    font-size: 48px;
    font-weight: 700;
  }
}

.confcard{
  padding-right: .8rem;
	padding-top: .5rem;
	padding-bottom: 1rem;
	width: 100%;
	float: left;
}

.categories li, .sidelink li {
  margin-bottom: 1px;
  padding-top: 2px;
}

.sidebar-box {
  margin-bottom: 20px;
  text-align: start;
}

.sidebar-box h3.sidebar-heading {
  margin-bottom: 20px;
}

.sidebar-box.ftco-animate.fadeInUp.ftco-animated{
  border: 1px solid #e3e2e2;
  border-top: 2px solid #3eafee;
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
}

a.githubLink {
  padding-right: 5%;
  border-right: 1px solid;
}

a.mediumLink {
  padding-left: 5%;
}