.col-md-12.po {
  border: 1px solid;
}

.circle {
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 37px;
    z-index: 90;
    left: 38px;
  }
  .music {
    display: none;
  }
  .openn{
      display:block;
      -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }
  }
  .musicname {
    font-size: 20px;
    font-weight: bold;
    color: #3e3f5e;
    margin: 0px;
    line-height: 27px;
    position: relative;
    top: 6px;
  }
  .artist {
    font-size: 16px;
    font-weight: 400;
    color: #4a5568;
    margin: 0px;
    line-height: 18px;
    position: relative;
    top: 6px;
  }
  .prev-btn, .next-btn {
    font-size: 16px;
    color: #3e3f5e;
  }
  .prev-btn:hover, .next-btn:hover {
    color: #b6b3b3;
  }
  .play-btn, .pause-btn {
    font-size: 40px;
    color: #000000;
  }
  .play-btn:hover, .pause-btn:hover {
    color: #b6b3b3;
  }
  .music {
    position: fixed;
    width: 100%;
    height: 4em;
    background: #f3f3f3;
    bottom: 0;
  }
  progress {
    width: 100%;
    height: 6px;
    color: #888888;
    background: #515151;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
  }
  .progress-panel {
    text-align: center;
    line-height: 6px;
    width: 100%;
    position: relative;
    bottom: 108px;
    left: 88px;
  }
  .time {
    float: right;
    position: relative;
    right: 35px;
    top: 28px;
  }
  #endd-time {
    float: right;
    position: relative;
    right: 35px;
    top: 36px;
  }
  progress::-webkit-progress-value {
    background: #0d9dfc;
  }
  progress::-moz-progress-bar {
    background: #2070fa;
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background: #fc0d4d;
  }
  progress::-webkit-progress-bar {
    background: #2070fa;
    border-radius: 10px;
  }
  .controll-panel {
    margin: 0 auto;
    width: 146px;
    height: 60px;
    padding: 0;
    display: block;
    position: relative;
    bottom: 50px;
  }
  .center {
    /* border: 1px solid green;
     */
    vertical-align: middle;
    display: table-cell;
    display: inline-block;
    padding: 10px;
  }
  .hidden {
    display: none;
  }
  .controll-btn {
    cursor: pointer;
  }
  .search input {
    float: left;
    padding: 5px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    width: 100%;
    outline: 0;
  }
  main, section {
    animation: 1s fadeInNav ease;
  }
  .fl {
    float: left;
  }
  .po {
    padding-right: 0;
    padding-left: 0;
  }
  .album {
    position: relative;
    margin: 10px auto;
    width: 120px;
    float: left;
    position: relative;
    top: -56px;
  }
  .album h1, .album h3 {
    position: relative;
    text-align: center;
    z-index: 6;
  }
  .album h1 {
    margin: 30px 0 0 0;
    color: #3b415a;
    font-size: 12px;
    text-transform: uppercase;
  }
  .album h3 {
    margin: 5px 0 0 0;
    color: #666;
    font-size: 10px;
  }
  .cover {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
    z-index: 4;
  }
  .cover:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 13px);
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 100%;
  }
  .shadow {
    position: absolute;
    right: calc(50% - 14px);
    top: 19px;
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 100%;
    -webkit-filter: blur(9px);
    filter: blur(9px);
    z-index: 1;
    opacity: 0.8;
  }
  .stars5:after {
    content: " ";
    display: block;
    margin: 5px 0 0 0;
    height: 25px;
    text-align: center;
    background: url(https://image.flaticon.com/icons/svg/992/992001.svg) center no-repeat;
    background-size: 25% auto;
  }
  .rote {
    animation: rotate_disk 10s linear forwards infinite;
  }
  @keyframes rotate_disk {
    100% {
      transform: rotateZ(360deg);
    }
  }
  .box {
    width: 100%;
    margin: 9px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    padding: -1px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #f3eeee;
  }
  .box:hover {
    background: white;
    box-shadow: 0 -10px 30px #13010121;
  }
  .box div.icon {
    height: 68px;
    width: 68px;
  }
  .box div.content {
    margin-left: 20px;
    width: 100%;
  }
  .box div.content h3 {
    font-size: 22px;
    font-weight: bold;
    color: #3e3f5e;
    margin: 0px;
    line-height: 27px;
  }
  .box div.content h6 {
    font-size: 16px;
    font-weight: 400;
    color: #4a5568;
    margin: 0px;
    line-height: 18px;
  }
  .box div.content h5 {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    margin: 0px;
    line-height: 45px;
    padding-right: 15px;
    letter-spacing: 0.6px;
    float: right;
  }
  .icon img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
  }
  .content svg {
    width: 15px;
    float: right;
    fill: #b2b2b2;
    margin-top: 14px;
    margin-right: 16px;
  }
  
  .section-banner {
      padding: 10px 30px 30px 70px;
      border-radius: 12px;
      background: url(../images/header.jpeg) no-repeat 1%;
      position: relative;
      width: 100%;
      margin: 0 auto;
  }
  .section-banner .section-banner-icon {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  .section-banner-title {
    font-size: 2.8rem;
    font-weight: 700;
    font-weight: 700;
  }
  .section-banner .section-banner-text, .section-banner .section-banner-title,.section-banner-title {
    color: #fff;
  }
  
  .form-row, .table, figure {
    margin: 0;
  }
  
  .section-banner .section-banner-text {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
  }
  .section-banner .section-banner-text, .section-banner .section-banner-title {
    color: #fff;
  }

.post__card-2 {
	padding-right: .8rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	max-width: 277.5px;
	width: 100%;
	float: left;
}

.post__card_-2 {
	overflow: hidden;
	border-radius: 0rem;
}

.post__card__image-2 {
	height: 15rem;
	border-radius: 10px 10px 0px 0px;
	background-size: cover;
	background-position: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
  border-bottom: 7px solid #0ebeff;
  border-radius: 15px;
}

.post__card_meta-2 {
  background-color: #000;
	padding: 0.5em;
}

.post__card_title-2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
}

.post__card_alttitle-2 {
	color: #4a5568;
	margin: 0;
	line-height: 1.5;
	font-size: 1.125rem
}
